<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    /* Navigation bar styles */
    .navbar {
      background-color: #1E90FF;
      display: flex;
      justify-content: flex-end; /* Align the text to the left */
      margin-top: 20px;
      height: 60px;
    }

    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end; /* Align the text to the left */
    }

    .navbar li {
      margin: 0 10px;
    }

    .navbar a {
      color: white;
      text-decoration: none;
      font-family: "Britannic Bold", sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 60px;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #1E90FF;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    .navbar li:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      font-family: "Britannic Bold", sans-serif;
      font-size: 16px;
      text-transform: uppercase;
    }
    @import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
            $main-green: #79dd09 !default;
            $main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
            $main-yellow: #bdbb49 !default;
            $main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
            $main-red: #bd150b !default;
            $main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
            $main-blue: #0076bd !default;
            $main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

/* This pen */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #18151f;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: #18151f;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
	background: $main-green;
	color: black;
}
.green .postcard__title:hover {
	color: $main-green;
}
.green .postcard__bar {
	background-color: $main-green;
}
.green::before {
	background-image: linear-gradient(
		-30deg,
		$main-green-rgb-015,
		transparent 50%
	);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
	background: $main-blue;
}
.blue .postcard__title:hover {
	color: $main-blue;
}
.blue .postcard__bar {
	background-color: $main-blue;
}
.blue::before {
	background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
	background: $main-red;
}
.red .postcard__title:hover {
	color: $main-red;
}
.red .postcard__bar {
	background-color: $main-red;
}
.red::before {
	background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
	background: $main-yellow;
	color: black;
}
.yellow .postcard__title:hover {
	color: $main-yellow;
}
.yellow .postcard__bar {
	background-color: $main-yellow;
}
.yellow::before {
	background-image: linear-gradient(
		-30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(
			-80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}

	.blue::before {
		background-image: linear-gradient(
			-80deg,
			$main-blue-rgb-015,
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
	}

	.red::before {
		background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
	}
	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
	}
	
	.yellow::before {
		background-image: linear-gradient(
			-80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
	.yellow:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
}
footer {
      background-color: #ADD8E6;
      padding: 20px;
      text-align: center;
      font-family: Arial, sans-serif;
    }
</style>
<div class="navbar">
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'explore' %}">Explore</a></li>
      <li class="dropdown">
        <a href="#">Account</a>
        <div class="dropdown-content">
          <a href="{% url 'signin' %}">sign in</a>
          <a href="#">Profile</a>
          <a href="#">Log in</a>
          <a href="#">Logout</a>
        </div>
      </li>

    </ul>
  </div>
  <section class="light">
	<div class="container py-2">
		<div class="h1 text-center text-dark" id="pageHeaderTitle">Uffizi Gallery</div>

		<article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="static\images\giotto.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#">The Ognissanti Madonna</a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">The first rooms of the gallery are arranged in chronological order, from the most ancient works to modern ones, and are divided by artists, masters and pupils.
 
                    If you wish to get a deep knowledge of the Uffizi Gallery artworks, we suggest you to book one of our private tours.
                     
                    One of those first rooms - Hall #2 - is dedicated to the 13th century Italian painting, in particular to Giotto di Bondone and the 200, is one of his most important work: the"Madonna Enthroned", better known as "Ognissanti Madonna". The same religious iconography has been depicted by other illustrious artists, but the most important innovation introduced by Giotto is the Virgin Mary portrayed as a real woman with feminine form.</div>
                    </div>
		</article>
		<article class="postcard light red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="static\images\annu.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title red"><a href="#"> "Annunciation" by Leonardo Da Vinci</a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">This incredible masterpiece was realized between 1475 and 1480 by Leonardo da Vinci, a name that needs no introduction: painter, inventor, military engineer, astronomer, architect and much more. To discover all the masterpieces of Leonardo's genius, book our guided walking tour with Uffizi skip the line ticket.
                    The “Annunciation” reveals some of the main, typical traits of da Vinci’s earliest art, such as “introducing” and “reproducing” the nature inside his works. An example are the wings of the Archangel Gabriel (announcing Virgin Mary she will be the mother of Jesus), depicted as real bird wings, and not just as an artistic representation of them. The element of “science within art” is the greatest characteristic of the genius Leonardo da Vinci.</div> 
			</div>
		</article>
		<article class="postcard light green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="static\images\madonna.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title green"><a href="#"> “Madonna of the Goldfinch”, by Raphael</a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">This scene of the Virgin and the two children (1505), the infant Jesus and John the Baptist, is one of perfect harmony and tenderness. Christ’s elegant pose, the mother’s protective air, the natural landscape in the background. The goldfinch held by Saint John is a symbol of Christ’s crucifixion, and give a touch of drama to the otherwise calm and intimate scene. </div>
            </div>
		</article>
		<article class="postcard light yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="static\images\doni.png" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title yellow"><a href="#">"Doni Tondo" (or "Holy Family") by Michelangelo
                </a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> The “Doni Tondo” is a special artwork, as it represent the only painting on panel by Michelangelo Buonarroti, same sculptor who realized the David, the giant marble statue housed in the Galleria dell’Accademia (the second greatest museum in Florence).
 
                    Considered one of the masterpieces of the XVI century Italian art, this round painting (“tondo” in Italian means round) was a commission by the rich Florentine banker Agnolo Doni (hence the name, “Tondo Doni”).
                     
                    The splendor of this painting is characterized by the unnatural poses of the figures (Mary, Joseph and the Child) and shimmery intense colors, which can be now admired by the recently restored Hall #35. And if you want to admire other masterpieces by Michelangelo we highly suggest a guided tour of the Uffizi Gallery and Galleria dell’Accademia.
                    
                    Save</div>              
            </div>
		</article>
        <article class="postcard light blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="static\images\magi.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text t-dark">
				<h1 class="postcard__title blue"><a href="#"> “Adoration of the Magi”, Leonardo da Vinci</a></h1>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Leonardo da Vinci is one of the top names at the Uffizi. The room dedicated to him – number 35 – has an almost sacred quality. Beautifully restored in 2017, the painting ‘Adoration of the Magi‘ is the highlight of the room that contains three of his early works.

                    Painted in 1481 (when Leonardo was 29 years old), the ‘Adoration’ is the biggest painting by Leonardo ever seen, and a magnificent one. The Virgin Mary is sitting alone with the infant Jesus, and in front of her are the three submissive kings. Behind them, a disorderly mix of figures that seem to violate the stillness of the holy scene. The painting is rich in symbolic meanings, and draws the viewer in with its magic. => learn more about the “Adoration of the Magi”.</div>
                </div>
		</article>
		</section>
    <section style="background-color: grey;">
      <footer>
        <p>&copy; 2023 A-MUSEUM WORLD. All rights reserved.</p>
      </footer>
      </section>